<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        <title>Document</title>
    </head>
    <body> 
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
            <img src="../logo-2.jpeg" width="70" height="70" class="d-inline-block align-top" alt="">
            <b style="color: #696969;vertical-align: middle; font-size: larger;">KONNEKT  <sub><sub style="font-size: medium;">~Connect, Bond and Grow Together</sub></sub></b>
            </a>
        </nav>
        <div class="row row-content">
             <div class="col-12 col-md-4 offset-md-4" style="margin-top: 3%; border: 1px #ccc solid; border-radius: 11px;">
                <br>
                <h2 style="text-align: center;">Login</h2> <br> 
                 <form action="/login" method="POST" novalidate id="user-form">
                     <div class="form-group">
                         <label for="username" class="col-md-12 form-label"><b>User Name:</b></label> 
                         <div class="col-md-12">
                             <input type="text" class="form-control" id="username" name="username" placeholder="User Name" required>
                             <div class="invalid-feedback">
                                Please fill out this field.
                            </div>
                         </div>
                     </div>
                     <div class="form-group">
                        <label for="password" class="col-md-12 col-form-label"><b>Password:</b></label>
                        <div class="col-md-12">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            <div class="invalid-feedback">
                                Please fill out this field.
                            </div>
                        </div>
                    </div>
                     <div class="form-group" style="text-align: center;"> 
                        <div class="checkbox col-md-12">
                            <label> <input type="checkbox"> Keep me signed in </label>
                        </div> 
                    </div>   
                     <div class="form-group" style="text-align: center;">
                        <div class="col-md-12">
                            <a href="#">Forgot password?</a>
                        </div>
                    </div> 
                    <div class="form-group">
                        <button type="submit"class="btn offset-2 col-8" style="background-color: rgb(252, 187, 21); color: black;" onclick="formValidation()">
                           <b>Log in</b> 
                        </button>
                    </div>  
                 </form>
                 <br><br>
             </div>
        </div>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        </body>
        </html>